<h1>Login</h1>

<%= form_tag(login_path, { :class => 'form-group' }) do |f| %>
<div class="form-group">
    <div><%= label_tag(:username, "Username") %></div>
    <div><%= text_field_tag(:username) %></div>
</div>

<div class="form-group">
    <div><%= label_tag(:password, "Password") %></div>
    <div><%= password_field_tag (:password) %></div>
</div>

    <button type="submit" class="btn btn-primary">Login</button>
<% end %>
