<h1>Signup</h1> 
<% @user.errors.full_messages.each do |error| %>
    <p><%= error %></p>
<% end %>

<%= form_for @user, url: '/signup' do |f| %>
    <div><%= f.label :username %></div>
    <div><%= f.text_field :username %></div>

    <div><%= f.label :password %></div>
    <div><%= f.password_field :password %></div> 
        
    <div><%= f.label :password_confirmation %></div>
    <div><%= f.password_field :password_confirmation %></div> 
    <br>
    <%= f.submit "Sign Up", class: "btn btn-default btn-primary" %>   
<% end %> 
 