<h1><%= @post.title %></h1>
<p>by <%= @post.user.username %></p>
<p><%= @post.body %></p>

<% if logged_in? %>
    <%= form_for( [@post, @vote] ) do |f| %>
        <%= f.hidden_field :value, value: 1 %>
        <%= button_tag( :class => "btn") do %>
            <% if @user_vote && @user_vote.value == 1 %>
                <i class="fas fa-arrow-circle-up"></i>
            <% else %>
                <i class="far fa-arrow-alt-circle-up"></i>
            <% end %>
            Upvote
        <% end %>
    <% end %>

    <%= form_for( [@post, @vote] ) do |f| %>
        <%= f.hidden_field :value, value: -1 %>
        <%= button_tag( :class => "btn") do %>
            <% if @user_vote && @user_vote.value == -1 %>
                <i class="fas fa-arrow-circle-down"></i>
            <% else %>
                <i class="far fa-arrow-alt-circle-down"></i>
            <% end %>
            Downvote
        <% end %>
    <% end %>
<% else %>
    <h6>Sign up or login to vote! </h6>
<% end %>
<br>
<h6>Vote total: <%= @post.votes_total %></h6>

<% if @post.user == current_user %>
<%= link_to  "Edit Post", edit_post_path(@post) %> | <%= link_to  "Delete Post", post_path(@post), method: :delete %>
<% end %>