<h1><%= @post.title %></h1>
<p>by <%= @post.user.username %></p>
<p><%= @post.body %></p>

<%= form_for( [@post, @vote] ) do |f| %>
    <%= f.hidden_field :value, value: 1 %>
    <%= button_tag( :class => "btn") do %>
        <% if @user_vote && @user_vote.value == 1 %>
            <i class="fas fa-arrow-circle-up"></i>
        <% else %>
            <i class="far fa-arrow-alt-circle-up"></i>
        <% end %>
    <% end %>
<% end %>

<%= form_for( [@post, @vote] ) do |f| %>
    <%= f.hidden_field :value, value: -1 %>
    <%= button_tag( :class => "btn") do %>
        <% if @user_vote && @user_vote.value == -1 %>
            <i class="fas fa-arrow-circle-down"></i>
        <% else %>
            <i class="far fa-arrow-alt-circle-down"></i>
        <% end %>
    <% end %>
<% end %>

<p>Vote total: <%= @post.votes_total %></p>

<% if @post.user == current_user %>
<%= link_to  "Edit Post", edit_post_path(@post) %> | <%= link_to  "Delete Post", post_path(@post), method: :delete %>
<% end %>